
$colorDark: #212529;
$colorLight: #E6E7E9;
$colorGrey: #6c757d;

$fontFamilyPrimary: 'Inter', sans-serif;
$fontFamilySecondary: 'Montserrat', sans-serif;

$fontLarge: clamp(3rem, 2.2500rem + 3.3333vw, 6rem);
$fontMedium: clamp(1.2rem, 0.6000rem + 2.6667vw, 2rem);
$fontSmall: clamp(0.9rem, 0.6750rem + 1.0000vw, 1.2rem);


$fontWeightBold: 700;
$fontWeightNormal: 400;
$fontWeightThin: 200;

$logoHeaderSize: clamp(3.5rem, 3.1250rem + 1.6667vw, 5rem);
$toggleSize: clamp(2rem, 1.7500rem + 1.1111vw, 3rem);
$toggleDotsSize: clamp(0.55rem, 0.4625rem + 0.3889vw, 0.9rem);
$logoNavSize: clamp(7.5rem, 5.6250rem + 8.3333vw, 15rem);



$mainTransition: all 0.3s;