/* ====================================================================== */
/* =========================== Footer Section =========================== */
/* ====================================================================== */

.footer {
    background: $colorDark;
    padding-top: 3rem;

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        border-bottom: 1px solid $colorGrey;
        padding-bottom: 3rem;

        .img-box {
            .logo-footer {
                margin-top: 2rem;
            }

            .footer-about p {
                color: $colorGrey;
                font-style: italic;
                font-size: $fontSmall;
                max-width: 350px;
            }
        }

        .social-links h2, 
        .useful-link h2, 
        .address h2 {
            font-family: $fontFamilyPrimary;
            font-size: $fontMedium;
            font-weight: $fontWeightBold;
            color: $colorGrey;
        }

        .social-icons, 
        .use-links, 
        .address-box {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        .social-icons a, 
        .use-links a, 
        .address a {
            font-family: $fontFamilySecondary;
            font-size: $fontSmall;
            font-weight: $fontWeightThin;
            color: $colorLight;
            transition: $mainTransition;
        }

        .social-icons a:hover, .use-links a:hover, .address a:hover {
            color: $colorGrey;
        }

        .social-icons a i, 
        .use-links a i {
            font-size: $fontSmall;
            color: $colorGrey;
            margin-right: 12px;
            width: 20px;
        }

        .address {
            i {
                color: $colorGrey;
                font-size: $fontSmall;
                margin-right: 12px;
            }

            span {
                font-family: $fontFamilySecondary;
                font-size: $fontSmall;
                font-weight: $fontWeightThin;
                color: $colorLight;
                margin-left: 3px;

                i {
                    color: $colorGrey;
                    margin-right: 15px;
                }
            }
        }
    }

    .copyright {
        font-family: $fontFamilySecondary;
        font-size: $fontSmall;
        background: $colorDark;
        color: $colorGrey;
        padding: 1.8rem;
        text-align: center;

        a {
            font-family: $fontFamilyPrimary;
            font-weight: $fontWeightBold;
            color: $colorLight;
            letter-spacing: 1px;
            transition: $mainTransition;

            &:hover {
                border-bottom: 1px solid $colorLight;
                margin-left: 10px;
            }
        }
    }
}
