@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
  --color-dark: #212529;
  --color-light: #e6e7e9;
  --color-grey: #6c757d;

  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;

  --font-title-home: clamp(1.6rem, -1.7rem + 14.6667vw, 6rem);
  --font-subtitle-home: clamp(1.2rem, 0.6rem + 2.6667vw, 2rem);
  --font-title-sections: clamp(2.5rem, 2.1538rem + 1.5385vw, 4rem);
  --font-title-projects: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
  --font-medium: clamp(1.2rem, 0.6rem + 2.6667vw, 2rem);
  --font-paragraph: clamp(0.9rem, 0.7615rem + 0.6154vw, 1.5rem);
  --font-small: clamp(0.9rem, 0.675rem + 1vw, 1.2rem);

  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-thin: 200;

  --margin-sections-title: clamp(7rem, 6.5385rem + 2.0513vw, 9rem) 0 clamp(2rem, 1.5385rem + 2.0513vw, 4rem) 0;
  --margin-projects-title: 3rem 0 3rem 0;
  --margin-sections: clamp(7rem, 6.3077rem + 3.0769vw, 10rem);

  --logo-header-size: clamp(3.5rem, 3.125rem + 1.6667vw, 5rem);
  --toggle-size: clamp(2rem, 1.75rem + 1.1111vw, 3rem);
  --toggle-dots-size: clamp(0.55rem, 0.4625rem + 0.3889vw, 0.9rem);
  --logo-nav-size: clamp(7.5rem, 5.625rem + 8.3333vw, 15rem);

  --main-transition: all 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  transition: all 0.5s;
  background-color: var(--color-light);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1200px) {
  .container {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
